<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>Developpeur Web, Mobile et Desktop</li>
    <li>Frelancer</li>
    <li>Tranche 05, lettre R, N92, Tamansourt, Marrakech, Maroc</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>App Startup Arabic</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+212 6 99650707</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:appstartuparabic@gmail.com">appstartuparabic@gmail.com</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://cvless.netlify.app">https://sariasaidcv.netlify.app</a></li>
  </ul>
</div>
